body {
    background-color: rgb(209, 153, 0);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 100px;
    font-size: 20px;
    text-align: center;

}

.list {
    font-size: 1.2em;
    display: block;
    margin: 30px;
}

li{
    list-style-position: inside;
    padding-left: 0;
}

.option{
    display: inline-block;
    padding: 50px;
    margin: 10px;
    background-color: rgb(172, 103, 0);
}

a {
  color: rgb(178, 220, 255);         /* Matches the color of the surrounding paragraph text */
  text-decoration: none;  /* Removes the default blue/purple underline */
}